input[type=button]{
  cursor:pointer;
}

/* ------------ */
/* HEADER Title */
/* ------------ */

table#head{
  width:100%;
}

#head td.title{
    width:100%;
    height:60%;
}

#head td.bt_link{
    width:100%;
    height:40%;
    padding-top: 15px;
}

#head #table_title {
  width:100%;
  height:100%;
}

#head #table_title,#title {
  text-align: center;
}

#head #title {
  text-shadow: 2px 2px grey;
  font-size: 300%;
  line-height: 0px;
}

#head .tool_meta {
    border: 1px solid #d9d9d9;
    padding: 2px;
    text-indent: 5px;
}

#head .tool_meta td{
    white-space: nowrap;
}

#head .subtitle {
  padding : 2px;
  font-weight : bold;
  font-size: 110%;
}

#head .subsubtitle {
  font-size: 80%;
  text-decoration: none;
}


/* ------------ */
/* HEADER user */
/* ------------ */

#head img.avatar{
  width:40px;
  height:40px;
  border: 1px solid #999999;
  padding: 5px;
}

#head .user{
  height: 100%;
}

#head div.user table{
  border: 1px solid #d9d9d9;
  padding:  2px;
  height: 100%;
}

#head td.avatar{
  width: 45px;
  text-align: center;
  vertical-align: top;
}

#head td.username{
  padding-right: 5px;
  padding-left: 5px;
}

#head td.disconnect{
  height: 100%;
  vertical-align: center;

}

/* ------------ */
/* TOOL CONTENT */
/* ------------ */

#tool_content {
  border-collapse: collapse; 
  border: 2px solid #a6a6a6;
  width:100%;
  font-size: 12pt;
  font-family: Verdana;
}

#tool_content table {
  border-collapse: collapse; 
  width:100%;
}

#tool_content table, tr, td{
    padding:0; /* !important;*/
    margin:0 !important;
}

#tool_content p{
    padding:3px;
}

#tool_content td {
  border-bottom: 1px solid #d9d9d9;
}

#tool_content td.label {
  font-weight : bold;
  background-color: #f5f5f5;
  text-indent: 4px;
}

#tool_content td.content,.none{
  width:100%;
}

#tool_content .different{
  background-color: #ccd9ff;
}

#tool_content td.edit {
  background-color: #f2f2f2;
  border-left : 1px solid #b3b3b3;
  border-bottom : 1px solid #b3b3b3;
  border-top : 1px solid #e6e6e6;
  border-right : 1px solid #e6e6e6;
  cursor:pointer;
}

#tool_content td.valid {
  background-color: #ecf9ec;
}

#tool_content table {
  border-left: 1px solid #d9d9d9;
}

#tool_content td.none {
  font-style: italic;
}

#tool_content div.line {
  border-bottom: 1px solid #d9d9d9;
}

#tool_content .modified_cell {
  background-color: #ffeb99;
}

#tool_content textarea {
  font-size: 12pt;
  font-family: Verdana;
  border-style: none;
  resize: vertical;
  padding: 3px
}




/*#tool_content .new_line {
  font-size: 60%;
  text-color: grey;
}*/

/* -------- */
/* TAB MENU */
/* -------- */

#menu {
    overflow : auto;
}

#menu #tab{
    font : normal 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#menu #tab li{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 1px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 1px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

#menu #tab li:not(.active){
  cursor:pointer;
}

#menu #tab li.active{
    font-weight : bold;
    border : 2px solid #111111;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}


#menu #tab li.master{
    background-color: #ccd0ff;
}

#menu #tab li.OWN_PR{
    background-color: #e0ccff;
}

#menu #tab li.PR{
    background-color: #f0e6ff;
}

#menu #tab li.edit{
    background-color: #f4e1ba;
}

#menu #tab li.NEW{
    background-color: #fcd8b6;
}

/* ------ */
/* LOADER */
/* ------ */

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ----- */
/* OTHER  */
/* ----- */

.little {
  font-size: 80%;
}
