input[type=button]{
  cursor:pointer;
}

/* ------ */
/* HEADER */
/* ------ */


/* ELIXIR ORANGE
.navbar { 
    background-color: orange;
    box-shadow: 0 2px 4px 0 rgba(74,74,74,.25);
}

.navbar-inner {
    border-bottom: 2px solid #F6A623;
}

.navbar .container-fluid {
    background-color: orange;
}
*/


.title {
   font-size: 200% !important;
}


#edited{
  pointer-events: none;
  color: #fff5cc;
}

/* ------------ */
/* TOOL CONTENT */
/* ------------ */


#tool_content {
  width:100%;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

/*#tool_content table, tr, td{
    padding:0; 
    margin:0 !important;
}*/

#tool_content table {
  width:100%;
  height: 100%;
}

#tool_content td{
  padding: 2px 0px;
  border-top: 1px solid #dddddd;
  border-collapse: collapse;
}

#tool_content p{
  margin: 5px;
}

#tool_content td.content,td.none{
  width:100%;
  height: 0px;
  padding-left: 1px;
}

#tool_content td.label {
  display: table-cell;
  margin: 0px;
}

#tool_content td.btn {
  vertical-align: middle;
  padding: 0px 2px;
  cursor:pointer;
}

#tool_content td.edit table td{
  border: none;
  border-bottom: 1px solid #dddddd;
  height: 50%;
  vertical-align: middle;
  cursor:pointer;
}

#tool_content td.valid {
  background-color: #eafbb7;
}

#tool_content td.cancel,#tool_content td.reset {
  background-color: #ffd4d4;
}

#tool_content td.edit {
  background-color: #fff5cc;
}

#tool_content td.different{
  background-color: #e6ecff;
}

#tool_content td.modified_cell {
  background-color: #fff5cc;
}

#tool_content td.bt_id {
  background: linear-gradient(45deg, #e6e6e6 12.5%, #fff 12.5%, #fff 37.5%, #e6e6e6 37.5%, #e6e6e6 62.5%, #fff 62.5%, #fff 87.5%, #e6e6e6 87.5%);
  background-size: 8px 8px;
  background-position: 50px 50px;
}

/*
#tool_content [class^="icon-"], [class*=" icon-"]{
  cursor:pointer;
}
*/



#tool_content textarea {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  font-size: 16px;
  color: black
  border-style: none;
  resize: vertical;
  padding: 3px
}





/* -------- */
/* TAB MENU */
/* -------- */


#menu #tab li:not(.active){
  cursor:pointer;
}


/* ---------------- */
/* NEEEEEWWWWWWWWW  */
/* ---------------- */

.tool_meta {
  border: 1px solid #999999;
}

img.avatar{
  width:40px;
  height:40px;
  /*border: 1px solid #999999;*/
  padding: 2px;
}

.username{
  color: white;
}

.navbar-inner{
  padding-top: 5px;
  padding-bottom: 5px;
}

#menuUser p{
  margin: 0px !important;
}


.subtitle {
  padding : 2px;
  font-weight : bold;
  font-size: 110%;
}

#pr_author_you{
  color: #0088cc;
}


/* ------ */
/* LOADER */
/* ------ */

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ----- */
/* font  */
/* ----- */


.red {
  color: #8B0000;
}

.green {
  color: #ace600;
}