input[type=button]{
  cursor:pointer;
}




#tool_content {
  width:100%;
}

/*#tool_content table, tr, td{
    padding:0; 
    margin:0 !important;
}*/

#tool_content td.content,.none{
  width:100%;
}

#tool_content .different{
  background-color: #ccd9ff;
}

/* ---------------- */
/* NEEEEEWWWWWWWWW  */
/* ---------------- */

.tool_meta {
  border: 1px solid #999999;
}